<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="galaxy.pegazus.bienetre" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Settings"
            android:label="@string/app_name" />
        <activity
            android:name=".Welcome"
            android:label="@string/title_activity_welcome" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SaveDay"
            android:label="@string/title_activity_welcome"
            android:parentActivityName=".Welcome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="galaxy.pegazus.bienetre.SaveDay" />
        </activity>
        <activity
            android:name=".DisplayLogs"
            android:label="@string/title_activity_display_logs"
            android:parentActivityName=".Welcome" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="galaxy.pegazus.bienetre.Welcome" />
        </activity>
    </application>

</manifest>
